<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>THIS IS THE BARRACKS</h1>
    <h2>{{monsterSet1}}</h2>
    <h2>{{monsterSet2}}</h2>
    <h2>{{monsterSet3}}</h2>
    <h2>{{monsterSet4}}</h2>
    <h2>{{monsterSet5}}</h2>
    <h2>{{monsterSet6}}</h2>
    <form action="barracks">
        <input type="submit" value="roll dice">
    </form>
</body>
</html>