<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merlin's Books</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/books.css' %}">
</head>
<body>
    <div id="header">
        <h1>Merlin's Books</h1>
    </div>
    <div id="input">
        <form action="add_book" id="form" method='POST'>
            {% csrf_token %}
            <table>
                <tr>
                    <td>Title:</td>
                    <td><input type="text" name="title"></td>
                </tr>
                <tr>
                    <td>Author:</td>
                    <td><input type="text" name="author"></td>
                </tr>
                <tr>
                    <td>Series:</td>
                    <td><input type="text" name="series"></td>
                </tr>
                <tr>
                    <td>ISBN:</td>
                    <td><input type="text" name="isbn"></td>
                </tr>
                <td></td>
                <td><input type="submit"></td>
            </table>
        </form>
            <hr>
            <table id="info">
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for books or authors..." title="Type in a name">
                <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Series</th>
                        <th>ISBN</th>
                        <th>Delete</th>
                </tr>
                {% for book in books %}
                <tr>
                    <td>{{book.title}}</td>
                    <td>{{book.author}}
                    </td>
                    <td>{{book.series}}</td>
                    <td>{{book.isbn}}</td>
                    <td><a href="{{book.id}}/delete">delete</a></td>
                </tr>
                {%endfor%}
            </table>
            <script>
                function myFunction() {
                    var input, filter, table, tr, td, i, txtValue;
                    input = document.getElementById("myInput");
                    filter = input.value.toUpperCase();
                    table = document.getElementById("info");
                    tr = table.getElementsByTagName("tr");
                    for (i = 0; i < tr.length; i++) {
                        td = tr[i].getElementsByTagName("td")[0];
                        if (td) {
                            txtValue = td.textContent || td.innerText;
                            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                            } else {
                                tr[i].style.display = "none";
                            }
                        }       
                    }
                }
            </script>
    </div>
</body>
</html>