<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merlin's Arcane Library</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/snow.css' %}">
  </head>
    <div class="snowflakes" aria-hidden="true">
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    </div>
    <div class="title">
      <h1>MERLIN'S TOWER</h1>
    </div>
    <div class="interactives">
      <form action="books">
          <input type="submit" value="Arcane Library" class="button">
      </form>
      <form action="snow">
          <input type="submit" value="Snowy" class="button">
      </form>
  </div>
</html>